Source: com.github.basjam.valacompiler
Section: x11
Priority: optional
Maintainer: Basem Kheyar <Basjam@gmail.com>
Build-Depends: debhelper (>= 9),
               meson,
               libgranite-dev,
               libgtk-3-dev,
               valac
Standards-Version: 3.9.6

Package: com.github.basjam.valacompiler
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Vala Compiler
 A GUI for the command line valac.
