[Desktop Entry]
Name=ValaCompiler
GenericName=Vala Compiler
Comment=A simple GUI for valac
Categories=Development;Utility;
Exec=com.github.basjam.valacompiler
Icon=com.github.basjam.valacompiler
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=valacompiler
Keywords=Vala;Compiler;valacompiler;Valac;ValaC
